/* CUSTOM PROPS */
:root {
    --text-color: #111517;
    --body-bg-color: #fafafa;
    --element-bg-color: #fff;
}


/* GLOBAL STYLES */

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-family: "Nunito Sans", "Arial", sans-serif;
    background-color: var(--body-bg-color);
    color: var(--text-color);
    transition: background-color 0.4s ease,
        color 0.4s ease;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* DARK-MODE */
.dark-mode {
    --body-bg-color: #202C36;
    --element-bg-color: #2B3844;
    --text-color: #fff;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--element-bg-color);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    white-space: nowrap;
}

.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-logo {
    color: var(--text-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.site-header-logo:hover {
    opacity: 0.8;
}

.site-header-logo:active {
    opacity: 0.6;
}

.site-header-theme-toggler {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.site-header-theme-toggler:hover {
    opacity: 0.8;
}

.site-header-theme-toggler:active {
    opacity: 0.6;
}

.site-header-theme-toggler-inner {
    display: flex;
    align-items: center;
}

.site-header-theme-toggler-text {
    margin-left: 8px;
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}